.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e5ddd5; /* WhatsApp background color */
    padding: 20px;
  }
  
  .form-container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  .title {
    color: #075E54; /* WhatsApp green color */
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
  }
  
  .radio-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .radio-label {
    font-size: 1rem;
    color: #333;
    display: flex;
    align-items: center;
  }
  
  .radio-input {
    appearance: none; /* Hide the native radio button */
    width: 20px;
    height: 20px;
    border: 2px solid #25D366; /* WhatsApp green color */
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .radio-input:checked::before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #25D366; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .radio-input:focus {
    outline: none;
    box-shadow: 0 0 3px 2px rgba(0, 123, 255, 0.25);
  }
  
  .error-text {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 15px;
  }
  
  .create-button {
    width: 100%;
    padding: 10px;
    background-color: #25D366;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .create-button:hover {
    background-color: #1ebc5c;
  }
  
  #home-page-button {
    background-color: #075E54;
    color: white;
    margin-top: 10px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
  }
  
  #home-page-button:hover {
    background-color: #064c44;
  }